/src/eigen-3.4.0/
/src/eigen-3.4.0.tar.gz
/src/Eigen/

/bin/index_sift
/bin/search_sift
/bin/index_deep
/bin/search_deep
/bin/index_glove
/bin/search_glove

/data/sift
/data/siftsmall
/data/deep
/data/glove

.idea
*.pyc
/cmake-build-debug/
/data/sift.tar.gz
/data/siftsmall.tar.gz
/data/deep1M.tar.gz
/data/glove1.2m.tar.gz
/index/

/build/
